<form action='/person' method='post' >
  <input name='firstName' placeholder='firstName' />
  <input name='lastName' placeholder='lastName' />
  <input name='age' placeholder='age' />
  <button type='submit'>提交</button>
</form>
